<launch>

  <param name="use_sim_time" value="true" />
   
  <arg name="data_directory" />
 
  <include file="$(find ada_adjustable_playback)/launch/video_player.launch" >
    <arg name="data_directory" value="$(arg data_directory)" />
  </include>
  
  <!-- <include file="$(find ada_adjustable_playback)/launch/robot_state.launch" /> -->
 
  <include file="$(find ada_adjustable_playback)/launch/openrave_setup.launch" />
   
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ada_adjustable_playback)/config/ada_adj_playback.rviz" />

</launch>
